div.container {
		width: 100%
		border: 1px solid gray; /*singkatan, urutan: border-width; border-style (required); border-color*/
		font-family: monospace;
	}

	header, footer {
		padding: 1em; /*ruang batas, lapisan*/
		background-color: #51cad0; /*warna bg*/
		text-align: center; /*posisi texs*/
	}

	nav {
		float: left; /*bagaimana elemen mengambang atau floating*/
		max-width: 160px; /*lebar max*/
		margin: 0; /*batas*/
		padding: 1em;
	}

	nav ul {
		list-style-type: none;
		padding: 0;
	}

	nav ul a {
		text-decoration: none;
	}

	nav ul a:hover {
		background-color: #51cad0;
		color: white;
	}

	article {
		margin-left: 170px;
		border-left: 1px solid gray;
		padding: 1em;
		overflow: hidden;
		background-color: #ebadab;
	}